@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$white: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

.header {
    background: linear-gradient(150deg, #3761e9 0%, #092272 42%, #7423be 72%, #3a0a94 100%);

    animation: gradient 5s infinite;
    background-size: 400%;
    height: 945px;
    color: $white;

    @keyframes gradient {
        0% {
            background-position: 0% 0%;
        }
        50% {
            background-position: 100% 100%;
        }
        100% {
            background-position: 0% 0%;
        }
    }

    .logo {
        font-size: 2.63rem;
        font-weight: 600;
        line-height: 1.81rem;
        letter-spacing: -0.01rem;
    
        padding-top: 2rem;
        padding-left: 4rem;
    }

    #music_platform {
        color: white;
        font-size: 2.63rem;
        font-weight: 600;
        line-height: 1.81rem;
        letter-spacing: -0.01rem;
        text-decoration: none;
        font-weight: bold;
    }

    .header-caption {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.75rem;
        letter-spacing: 0.1rem;

        padding-top: 14rem;
        text-align: center;
        text-transform: uppercase;
    }

    .header-text {
        padding-top: 1rem;
        font-size: 3.38rem;
        font-weight: 700;
        line-height: 4.06rem;
        letter-spacing: -0.13rem;
        text-align: center;
    }
}

