.footer {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}
.footer .footer-columns {
  list-style: none;
  margin-bottom: 10vh;
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
}
.footer .footer-columns .footer-column {
  flex: 1 0 200px;
  margin: 10px;
}
.footer .footer-columns .footer-column .footer-title {
  margin-bottom: 20px;
  font-size: 15px;
}
.footer .footer-columns .footer-column .footer-list {
  list-style: none;
  padding: 0;
}
.footer .footer-columns .footer-column .footer-list .footer-item {
  display: block;
  margin-bottom: 5px;
}
.footer .item-link {
  color: black;
  text-decoration: none;
  transition: transform 0.3s ease;
  display: inline-block;
}
.footer .item-link:hover {
  color: grey;
  transform: scale(1.15);
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
@media (min-width: 600px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer .social-icons {
  padding-top: 5vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}
@media (min-width: 600px) {
  .footer .social-icons {
    width: auto;
    margin-top: 0;
  }
}