* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .our-advantages {
    height: 90hv;
    background: linear-gradient(to bottom, black, purple);
  }
  .our-advantages .our-advantages__title {
    margin-bottom: 4rem;
    padding-top: 5rem;
    text-align: center;
    color: white;
  }
  .our-advantages .our-advantages__subtitle {
    margin-bottom: 5rem;
  }
  .our-advantages .our-advantages__sentence {
    margin-bottom: 5rem;
    text-align: center;
    color: white;
  }
  .our-advantages .our-advantages__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .our-advantages .our-advantages__container .our-advantages__card {
    width: 18rem;
    text-align: center;
    margin-bottom: 3rem;
  }
  .our-advantages .our-advantages__container .our-advantages__card .about-us__card-sentence {
    color: white;
  }
}
@media (min-width: 601px) {
  .our-advantages {
    background: linear-gradient(to bottom, black, purple);
    height: 90vh;
  }
  .our-advantages .our-advantages__title {
    padding-top: 4rem;
    padding-bottom: 6rem;
    text-align: center;
    color: white;
    font-size: 48px;
  }
  .our-advantages .our-advantages__subtitle {
    margin-bottom: 8rem;
  }
  .our-advantages .our-advantages__sentence {
    margin-bottom: 4rem;
    text-align: center;
    color: white;
    font-size: 24px;
  }
  .our-advantages .our-advantages__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .our-advantages .our-advantages__card {
    width: 18rem;
    text-align: center;
  }
  .our-advantages .our-advantages__card .about-us__card-sentence {
    color: white;
  }
}