.we-have {
    background: linear-gradient(to bottom, #3C6895 0%, #3C6895 100%, #0A2E52 0%, #0A2E52 100%, #000000 0%, #000000 100%, #042341 0%, #042341 0%, #010408 0%, #010408 100%);
    width: 100%;
    height: 100vh;
    
    .we-have__title {
        color: #fff;
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.56rem;
        letter-spacing: 0.1rem;
        text-align: center;
        text-transform: uppercase;

        padding-top: 2rem;
    }

    .we-have__title.element-show {
        // opacity: 1;
        transition: all 1.5s;

    }

    .we-have__container-box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16rem;
        gap: 10rem;

        .we-have__card {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            #we-have__img {
                width: 45px;
                padding-bottom: .8rem;
            }
            .we-have__card__title {
                color: #fff;
                font-size: 2rem;
                font-weight: 500;
                line-height: 2.38rem;
                letter-spacing: 0.1rem;
                text-align: center;
                text-transform: uppercase;

                .we-have__card__caption {
                    padding-top: .4rem;
                    font-size: 0.8rem;
                    font-weight: 400;
                    line-height: 1rem;
                    letter-spacing: 0rem;
                    text-align: left;
                    
                }
            }
        }
    }
}

@media (max-width: 600px) {

    .we-have__title.element-show {
        // opacity: 1;
        transition: all 1.5s;

    }

    .we-have__container-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 16rem;
        gap: 10rem;

        .we-have__card {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            #we-have__img {
                width: 45px;
                padding-bottom: .8rem;
            }
            .we-have__card__title {
                color: #fff;
                font-size: 2rem;
                font-weight: 500;
                line-height: 2.38rem;
                letter-spacing: 0.1rem;
                text-align: center;
                text-transform: uppercase;

                .we-have__card__caption {
                    padding-top: .4rem;
                    font-size: 0.8rem;
                    font-weight: 400;
                    line-height: 1rem;
                    letter-spacing: 0rem;
                    text-align: left;
                    
                }
            }
        }
    }

}